<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<head>
    <meta charset="UTF-8"/>
    <title>SGC</title>
</head>
<body>
	<div id="integrantes" layout:fragment="content">
	    <div class="container">
	
	        <h1 th:text="${titleForm}"></h1>
	         <h3 th:text="${statusEdicao}" th:if="${statusEdicao != null}"></h3>
	
	        <!-- mensagem de erro -->
	        <div th:if="${response == null}">
	            <p th:if="${statusEdicao != null}" class="alert alert-success" th:text="${statusEdicao}"></p>
			</div>
			
	        <div th:if="${response != null}">
	            <p class="alert alert-success" th:if="${response == 'success'}">Registro salvo ! </p>
	            <p class="alert alert-danger" th:if="${response != 'success'}"> <span th:text="${response}">Erro</span></p>
	        </div>
	
	        <form method="post" th:action="@{/admin/conferencia}" th:object="${obj}">
	            <div class="form-group">
	                <label for="nomeConferencia">Nome da Conferência</label>
	                <input type="text" required="required" class="form-control" name="nomeConferencia" id="nomeConferencia" th:field="*{nomeConferencia}" />
	                <label for="nomeAbreviado">Nome da Conferência abreviado</label>
	                <input type="text" required="required" class="form-control" name="nomeAbreviado" id="nomeAbreviado" th:field="*{nomeAbreviado}" />
	                <label for="subTitulo">Subtitulo</label>
	                <input type="text" required="required" class="form-control" name="subTitulo" id="subTitulo" th:field="*{subTitulo}" />
	                <label for="subTituloSecundario">Subtitulo secundário</label>
	                <input type="text" required="required" class="form-control" name="subTituloSecundario" id="subTituloSecundario" th:field="*{subTituloSecundario}" />
	                <label for="paginaWeb">Página Web</label>
	                <input type="text" required="required" class="form-control" name="paginaWeb" id="paginaWeb" th:field="*{paginaWeb}" />
	                <label for="cidadeConferencia">Cidade da Conferência</label>
	                <input type="text" required="required" class="form-control" name="cidadeConferencia" id="cidadeConferencia" th:field="*{cidadeConferencia}" />
	                <label for="cidadeEmissaoFatura">Cidade para Emissão da Fatura</label>
	                <input type="text" required="required" class="form-control" name="cidadeEmissaoFatura" id="cidadeEmissaoFatura" th:field="*{cidadeEmissaoFatura}" />
	                <label for="valorTaxaEmissaoFatura">Valor da Taxa de Inscrição</label>
	                <input type="text" required="required" class="form-control" name="valorTaxaInscricao" id="valorTaxaInscricao" th:field="*{valorTaxaInscricao}" />
	                <label for="moedaConferencia">Moeda utilizada</label>
	                <input type="text" required="required" class="form-control" name="moedaConferencia" id="moedaConferencia" th:field="*{moedaConferencia}" />
	                <input type="hidden" name="id" id="id" th:field="*{id}"/>
	            </div>
	            <button type="submit" class="btn btn-info">Enviar</button>
	        </form>
	    </div>
		<b></b>
		    
	    <div class="container">
		    <div class="col-4">
				<b></b>
		        <h1>Arquivos aceitos</h1>
				<b></b>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>Tipo do Arquivo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="objArqFor: ${listArqObjs}">
							<td th:text="${objArqFor.tipoArquivo}"></td>
						</tr>
					</tbody>
				</table>
				<a th:href="@{/admin/conferencia-tipo-arquivo(filterid=${objFor.id})}">Registrar Arquivos</a>
									
			</div>
		    <div class="col-4">
				<b></b>
		        <h1>Opções de Pagamento</h1>
				<b></b>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>Opções de Pagamento</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="objPgFor: ${listArqObjs}">
							<td th:text="${objPgFor.descricao}"></td>
						</tr>
					</tbody>
				</table>
				
				<a th:href="@{/admin/conferencia-opcoes-pagamento(filterid=${objFor.id})}">Registrar Opções de Pagamento</a>
			</div>
		</div>
	</div>
</body>
</html>