<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<head>
    <meta charset="UTF-8"/>
    <title>SGC</title>
</head>
<body>
	<div id="integrantes" layout:fragment="content">
	    <div class="container">
	
	        <h1 th:text="${titleForm}"></h1>
	         <h3 th:text="${statusEdicao}" th:if="${statusEdicao != null}"></h3>
	
	        <!-- mensagem de erro -->
	        <div th:if="${response == null}">
	            <p th:if="${statusEdicao != null}" class="alert alert-success" th:text="${statusEdicao}"></p>
			</div>
			
	        <div th:if="${response != null}">
	            <p class="alert alert-success" th:if="${response == 'success'}">Registro salvo ! </p>
	            <p class="alert alert-danger" th:if="${response != 'success'}"> <span th:text="${response}">Erro</span></p>
	        </div>




	        <form id="formulario" method="post" th:action="@{/admin/conferencia}" th:object="${obj}">
	            <div class="form-group">
	                <label for="nomeConferencia">Nome da Conferência</label>
	                <input type="text" required="required" class="form-control" name="nomeConferencia" id="nomeConferencia" th:field="*{nomeConferencia}" />
	                <label for="nomeAbreviado">Nome da Conferência abreviado</label>
	                <input type="text" required="required" class="form-control" name="nomeAbreviado" id="nomeAbreviado" th:field="*{nomeAbreviado}" />
	                <label for="subTitulo">Subtitulo</label>
	                <input type="text" required="required" class="form-control" name="subTitulo" id="subTitulo" th:field="*{subTitulo}" />
	                <label for="subTituloSecundario">Subtitulo secundário</label>
	                <input type="text" required="required" class="form-control" name="subTituloSecundario" id="subTituloSecundario" th:field="*{subTituloSecundario}" />
	                <label for="paginaWeb">Página Web</label>
	                <input type="text" required="required" class="form-control" name="paginaWeb" id="paginaWeb" th:field="*{paginaWeb}" />
	                <label for="cidadeConferencia">Cidade da Conferência</label>
	                <input type="text" required="required" class="form-control" name="cidadeConferencia" id="cidadeConferencia" th:field="*{cidadeConferencia}" />
	                <label for="cidadeEmissaoFatura">Cidade para Emissão da Fatura</label>
	                <input type="text" required="required" class="form-control" name="cidadeEmissaoFatura" id="cidadeEmissaoFatura" th:field="*{cidadeEmissaoFatura}" />
	                <label for="valorTaxaEmissaoFatura">Valor da Taxa de Inscrição</label>
	                <input type="text" required="required" class="form-control" name="valorTaxaInscricao" id="valorTaxaInscricao" th:field="*{valorTaxaInscricao}" />
	                <label for="moedaConferencia">Moeda utilizada</label>
	                <input type="text" required="required" class="form-control" name="moedaConferencia" id="moedaConferencia" th:field="*{moedaConferencia}" />
	                <input type="hidden" name="id" id="id" th:field="*{id}"/>
	            </div>
				<b></b>




			    <div class="row">
				    <div class="col-sm-6 col-xs-6 col-md-6" style="background-color:lavender;">
						<b></b>
				        <h4>Arquivos aceitos</h4>
						<b></b>
						<table class="table table-hover">
							<tbody>
								<tr th:each="objArqFor, stat: ${listArqObjs}">
									<td>
								         <!-- th:checked="${currentClient.selected}" -->
								         <input type="checkbox"
								                th:name="|checklistarq${stat.index}|"
								                th:value="${objArqFor.id}"
								                th:checked="${objArqFor.selected}"/>
								         <span th:text="${objArqFor.tipoArquivo}"></span> 
	    						     </td>
								</tr>
							</tbody>
						</table>
						<b></b>
						<p></p>
					</div>
				    <div class="col-sm-6 col-xs-6 col-md-6" style="background-color:lavender;">
						<b></b>
				        <h4>Opções de Pagamento</h4>
						<b></b>
						<table class="table table-hover table-bordered">
							<tbody>
								<tr th:each="objPgFor, stat: ${listPgObjs}">
									<td>
								         <!--  -->
								         <input type="checkbox"
								                th:name="|checklistpg${stat.index}|"
								                th:value="${objPgFor.id}"
								                th:checked="${objPgFor.selected}"/>
								         <span th:text="${objPgFor.descricao}"></span> 
	    						     </td>
								</tr>
							</tbody>
						</table>
						<b></b>
						<p></p>
					</div>




				</div>
				<b></b>
				<p></p>
				<p></p>

				<div class="row">
					<div class="form-group" th:if="${usuarios != null and #lists.size(usuarios) != 0}">
						<label for="uslt">Administrador :</label>
						<select  class="form-control" name="uslt" form="formulario">
							<div th:each="usuario : ${usuarios}">

								<div th:if="${obj.administrador != null and usuario != null}">
									<div th:if="${obj.administrador.id == usuario.id}">
										<option selected="selected" th:value="${usuario.id}">
											<span th:text="${usuario.name + ' ' +  usuario.sobrenome}"/>
										</option>
									</div>
								</div>

								<div th:if="${obj.administrador == null or obj.administrador.id != usuario.id}">
									<option th:value="${usuario.id}">
										<span th:text="${usuario.name + ' ' + usuario.sobrenome}"/>
									</option>
								</div>

							</div>
						</select>
					</div>
				</div>

					<b></b>
				<b></b>
		    </form>

			<button	style="margin-top: 20px"
					   form="formulario" type="submit" class="btn btn-info"  name="buttoncommand" id="buttoncommand" value="conferencia">Atualizar</button>



			<h2>Fases da conferência</h2>
			<div th:if="${obj.conferenciaFaseArrayList != null and #lists.size(obj.conferenciaFaseArrayList) != 0}">
				<div class="row">
					<table class="table table-hover">
						<thead>
						<tr>
							<th>Nome</th>
							<th>Inicio</th>
							<th>Fim</th>
							<th>Tipo da fase</th>
						</tr>
						</thead>
						<tbody>
						<div th:each="fase : ${obj.conferenciaFaseArrayList}">
							<tr>
								<td><span th:text="${fase.nome}"/> </td>
								<td><span th:text="${fase.inicio}"/></td>
								<td><span th:text="${fase.fim}"/></td>
								<td><span th:text="${fase.tipoFase.descricao}"/></td>
								<td>
									<form th:method="put" th:action="@{admin/fase-conferencia}" >
										<input type="hidden" th:value="${fase.id}" name="id"/>
										<button class="btn btn-info" type="submit" >Editar</button>
									</form>
								</td>
								<td>
									<form th:method="delete" th:action="@{admin/fase-conferencia}" >
										<input type="hidden" th:value="${fase.id}" name="id"/>
										<button class="btn btn-danger" type="submit" >Remover</button>
									</form>
								</td>
							</tr>
						</div>
						</tbody>
					</table>
				</div>
			</div>
			<div th:if="${obj != null}">
				<form method="get" th:action="@{/admin/fases-conferencia}">
					<input name="id" type="hidden" th:value="${obj.id}"/>
					<button  type="submit" class="btn btn-primary">Adicionar fases</button>
				</form>
			</div>


			<h2>Sessões da conferência</h2>
			<div th:if="${obj.sessaoArrayList != null and #lists.size(obj.sessaoArrayList) != 0}">
				<div class="row">
					<table class="table table-hover">
						<thead>
						<tr>
							<th>Nome</th>
							<th>Abreviação</th>
							<th>Inicio</th>
							<th>Fim</th>
						</tr>
						</thead>
						<tbody>
						<div th:each="sessao : ${obj.sessaoArrayList}">
							<tr>
								<td><span th:text="${sessao.nome}"/> </td>
								<td><span th:text="${sessao.abreviacao}"/></td>
								<td><span th:text="${sessao.inicio}"/></td>
								<td><span th:text="${sessao.fim}"/></td>
								<td>
									<form th:method="get" th:action="@{/admin/sessao/edit}">
										<input type="hidden" th:value="${sessao.id}" name="id"/>
										<input type="hidden" th:value="${obj.id}" name="conferencia_id"/>
										<button type="submit" class="btn btn-info">Editar</button>
									</form>

								</td>
								<td>
									<form th:method="delete" th:action="@{/admin/sessao}">
										<input type="hidden" th:value="${sessao.id}" name="id"/>
										<input type="hidden" th:value="${obj.id}" name="conferencia_id"/>
										<button type="submit" class="btn btn-danger">Remover</button>
									</form>

								</td>
							</tr>
						</div>
						</tbody>
					</table>
				</div>
			</div>
			<div th:if="${obj != null}">
				<form method="get" th:action="@{/admin/sessoes-conferencia}">
					<input name="id" type="hidden" th:value="${obj.id}"/>
					<button  type="submit" class="btn btn-primary">Adicionar sessões</button>
				</form>
			</div>


		</div>
	</div>
</body>
</html>