<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<head>
    <meta charset="UTF-8"/>
    <title>SGC</title>
</head>
<body>
<div id="integrantes" layout:fragment="content">
    <div class="container">

        <h1 th:text="${titleForm}"></h1>
         <h3 th:text="${statusEdicao}" th:if="${statusEdicao != null}"></h3>

        <!-- mensagem de erro -->
        <div th:if="${response == null}">
            <p th:if="${statusEdicao != null}" class="alert alert-success" th:text="${statusEdicao}"></p>
		</div>
		
        <div th:if="${response != null}">
            <p class="alert alert-success" th:if="${response == 'success'}">Registro salvo ! </p>
            <p class="alert alert-danger" th:if="${response != 'success'}"> <span th:text="${response}">Erro</span></p>
        </div>

        <form method="post" th:action="@{/admin/grupo-participante}" th:object="${obj}">
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input type="text" required="required" class="form-control" name="grupo" id="grupo" th:field="*{grupo}" />
                <input type="hidden" name="id" id="id" th:field="*{id}"/>
            </div>
            <button type="submit" class="btn btn-info">Enviar</button>
        </form>
    </div>
	<b></b>
	    
    <div class="container" th:if="${listObjs != null}">
		<b></b>
        <h1 th:text="${titleList}"></h1>
		<b></b>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>id</th>
						<th>Grupo</th>
						<th>Editar</th>
						<th>Apagar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="objFor: ${listObjs}">
						<td th:text="${objFor.id}"></td>
						<td th:text="${objFor.grupo}"></td>
						<td> <a th:href="@{/admin/grupo-participante/editar(filterid=${objFor.id})}">Editar</a></td>
						<td> <a th:href="@{/admin/grupo-participante/apagar(filterid=${objFor.id})}">Apagar</a></td>
					</tr>
				</tbody>
				
			</table>
			
	        <div th:if="${deletereg != null}">
    	        <p class="alert alert-danger" th:if="${deletereg == 'ok'}"> <span>Registro apagado</span></p>
        	</div>
	</div>
</div>
</body>
</html>